<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/styles/style.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class=" main grid-container">

            {% set fields = {
            title: 'Title:',
            name: 'Name:',
            surname: 'Surename:',
            birthday: 'Birthday:',
            email: 'Email:',
            postCode: 'Post Code:',
            city: 'City:',
            street: 'Street:'} %}

            {% block header %}
                <header class="header grid-item"></header>
            {% endblock %}
            {% block navigation %}
                <nav class="menu grid-item">
                    <span class="menu-button hidden"></span>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <img src="{{ asset('uploads/UserPictures/' ~ app.user.pictureUrl) }}" alt="">
                    {% else %}
                        <style>
                            .menu-link-container {
                                margin-top:80px;
                            }
                        </style>
                    {% endif %}
                    <div class="menu-link-container">
                        <a href="{{ path('homepage') }}" class="menu-link">Home</a>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {% set shortEmail = app.user.username|split('@')|first %}
                            <a href="{{ path('show', {'slug': app.user.username}) }}" class="menu-link">{{ shortEmail }}</a>
                            <a href="{{ path('/logout') }}" class="menu-link">Logout</a>
                        {% else %}
                            <a href="{{ path('login') }}" class="menu-link">Login</a>
                            <a href="{{ path('user_registration') }}" class="menu-link">Register</a>
                        {% endif %}
                    </div>
                </nav>
            {% endblock %}
            <div class="content grid-item">
                {% block body %}{% endblock %}
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
