{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <tr>
        {% for field in fields  %}
            <th>{{ field }}</th>
        {% endfor %}
        </tr>
        {% for user in users %}
            <tr>
                {% for key, field in fields %}
                    {% if user[key].timestamp is defined %}
                    <td>{{ user[key]|date('d/m/Y') }}</td>
                    {% else %}
                    <td>{{ user[key] }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{#<table>#}
    {#{% for key, field in fields %}#}
        {#<tr>#}
            {#<td>{{ field }}</td>#}
            {#{% if user[key].timestamp is defined %}#}
                {#<td>{{ user[key]|date('d/m/Y') }}</td>#}
            {#{% else %}#}
                {#<td>{{ user[key] }}</td>#}
            {#{% endif %}#}
        {#</tr>#}
    {#{% endfor %}#}
{#</table>#}